
.ver
{
    width: 140px;
    height: 140px;
    animation: mm 0.5s ease-in-out infinite;
}
h1
{
    font-size: 47px;
    color: rgb(4, 4, 59);
    font-family:  "Playpen Sans",sans-serif;


}
.continerr
{
    display: flex;
    align-items: center;
    border: 6px solid rgb(189, 104, 0);
    gap: 45px;

}
@keyframes mm
{
    0%
    {

    }
    100%
    {
        transform: scale(1.1);

    }
}
