
.form2 {
  width: 60%;
  height: 100%;
  padding: 15px 20px 0px 20px;
}
.top-botton1 {
  width: 100%;
  height: 85%;
}

/*  */
.top,
.centre,
.bottom {
  width: 100%;
  height: 33.33%;
  display: flex;
  justify-content: space-between;
}
.top-botton1 p {
  font-size: 15px;
  font-weight: 600;
  color: rgb(21, 7, 73);
}
.top-botton1 input {
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 6px;
  border: 0;
  padding: 0 10px;
  border: 1px solid rgb(186, 182, 182);
  background-color: rgba(249, 244, 244, 0.76);
}
.top-botton1 select {
  width: 100%;
  height: 45px;
  outline: none;
  border-radius: 6px;
  padding: 0 10px;
  border: 1px solid rgb(186, 182, 182);
  background-color: rgba(249, 244, 244, 0.76);
}
.input-left,
.input-right {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.top-botton1 span {
  font-size: 10px;
  color: red;
  margin-left: 7px;
}
.top-botton1 .rede {
  border: 1px solid red;
}
